API_SECOPII = "" #To get this api you need to register in the SECOP II platform and request an API key. You can do this by following these steps:
#1. Go to the SECOP II website (https://www.datos.gov.co/Estad-sticas-Nacionales/SECOP-II-Contratos-Electr-nicos/jbjy-vk9h/about_data)
#2. Click on the "Register" button and create an account.
#3. Once you have an account, go to the API section and request an API key.
DB_HOST = ""
DB_PORT = ""
DB_NAME = ""
DB_USER = ""
DB_PASSWORD = ""
